<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
<link rel="stylesheet" href="wishlistStyle.css">
</head>
<body>


<h1>Create Wishlist</h1>

<form action="/wishlist" method="post">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name2"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name3"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name4"></br>
    <button> type="Submit"> Gem! </button>

</form>
</div>
<div id="divWish">
    <img src="wishlist-notepad.png" alt="wishlist">

</div>
<div id="ShareDiv">
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a
        class="twitter-share-button"
        target="_blank"
        rel="noopener noreferrer"
        data-size="large"
        href="https://twitter.com/intent/tweet?text=I just published an article on how you can share content to Twitter from the client website"
>
    Tweet
</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add an awesome icons -->

<style>
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
</style>

<a href="#" class="fa fa-facebook"></a>
    </div>
</body>
</html>