<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
<link rel="stylesheet" href="wishlistStyle.css">
</head>
<body>


<h1>Create Wishlist</h1>

<form action="/wishlist" method="post">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name2"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name3"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name4"></br>
    <button> type="Submit"> Gem! </button>

</form>
</div>
<div id="divWish">
    <img src="wishlist-notepad.png" alt="wishlist">

</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a
        class="twitter-share-button"
        target="_blank"
        rel="noopener noreferrer"
        data-size="large"
        href="https://twitter.com/intent/tweet?text=I just published an article on how you can share content to Twitter from the client website"
>
    Tweet
</a>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>


</body>
</html>