<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>Create Wishlist</h1>
<form action="/wishlist" method="post">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <button> type="Submit"> Gem! </button>



</form>
</body>
</html>